body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-size: 18px;
    margin: 0.8;
    padding: 0;
    background-color: #0F0F1A; /* Blue-black background */
    color: #FFFFFF; /* White text */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.container {
    margin: auto; /* Center the container horizontally */
    max-width: 800px; /* Set maximum width */
    padding: 20px; /* Add padding for better spacing */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.profile {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    margin-bottom: 20px; /* Add margin for spacing */
}

.profile img {
    border-radius: 50%; /* Make the photo round */
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    object-fit: cover;
    margin-right: 20px;
}

.profile h1 {
    margin: 0; /* Remove default margin */
}

/* Link styles */
a {
    color: #FFFFFF; /* White link color */
    text-decoration: none; /* Remove underline */
}

a:hover {
    text-decoration: underline; /* Add underline on hover */
}

/* Education and Experience sections */
.section {
    border-radius: 0.4em;
    padding: 1em;
    margin-bottom: 20px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.section:hover {
    background-color: #1A1A2F; /* Dark blue background */
    cursor: pointer;
}

h1, h2, h3 {
    color: #FFFFFF; /* White text color */
    margin: 0;
}

ul {
    margin: 0 0 0.3em 0;
    list-style-type: square;
    padding-left: 1.4em;
}

/* Animation for social media icons */
.fa {
    transition: transform 0.3s ease;
}

.fa:hover {
    transform: scale(1.2); /* Scale up on hover */
}
